* {
	margin: 0;
	padding: 0;
}

html, body {
	height:100%;
}

body {
	background-color: #343434;
	font-family: Bitstream Vera Sans, Tahoma, sans-serif;
	font-size: 11px;
	color: #757575;
}

table {
	font-size: inherit;
}

a {
	color:#c5c5c5;
	text-decoration: none;
}

a:hover {
	color: #a8a8a8;
}

#head, #foot {
	height: 6%;
	min-height: 25px;
	width: 100%;
	background-color: #151515;
	overflow: hidden;
}

#foot {
	text-align: center;
}

#foot > span,#head > span {
	top: 15%;
	position: relative;
	padding: 20px;
}

#foot > span {
	color: #393939;
}

#foot > span > span.date {
	color: #a8a8a8;
}

#maincontent {
	width:100%;
	height:88%;
}

#maincontent td {
	vertical-align: top;
	padding-top: 15%;
}

#logo {
	height: 60px;
	width: 244px;
	background-image: url('images/logo.png');
	background-repeat: no-repeat;
	background-position: top left;
	padding-top: 10px;
	text-align: center;
}

.poetry, .fortune {
	margin-bottom: 20px;
	width: 390px; 
	text-align: justify;
}

.hidden {
	display: none;
}
